@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@layer base{
  body{
    @apply font-[Quicksand];
  }
  li{
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div{
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:250px;
}


.content-div:hover{
  background-image: linear-gradient(
    to right,
    #decdf5,
    #f8f1ff   
  )!important;
}


.navbar__item.active{
  color:#232c33; 
  font-weight:bold;
  padding-bottom:4px;
  border-bottom:3px solid #87bba2;
}